<div class="spacer"></div>

{{#each articles}}

    <div class="panel panel-default panel-{{this._id}}">
        <div class="panel-body">
            <a href="{{this.link}}">
                <img src="{{this.image}}" class="img-rounded article-img">
                <h3 class="title">{{this.title}}</h3>
            </a>

            {{#if this.bookmarked}}
                <button type="button" class="btn btn-sm btn-success bookmark-btn" data-id="{{this._id}}">
                    <i class="fa fa-bookmark"></i>&nbsp;&nbsp;Bookmarked</button>
            {{/if}}

            {{#unless this.bookmarked}}
                <button type="button" class="btn btn-sm btn-warning bookmark-btn" data-id="{{this._id}}">
                    <i class="fa fa-bookmark"></i>&nbsp;&nbsp;Bookmark</button>
            {{/unless}}

        </div>
    </div>
{{/each}}
